USE [master]
GO
/****** Object:  Database [Больница]    Script Date: 22.01.2024 20:00:51 ******/
CREATE DATABASE [Больница]
 
ALTER DATABASE [Больница] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Больница].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Больница]
GO
/****** Object:  Table [dbo].[Авторизация]    Script Date: 22.01.2024 20:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Авторизация](
	[Логин] [nvarchar](50) NOT NULL,
	[ХэшПароль] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Врачь]    Script Date: 22.01.2024 20:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Врачь](
	[Код] [int] NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[Специальность] [nvarchar](50) NOT NULL,
	[Категория] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Врачь] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Диагноз]    Script Date: 22.01.2024 20:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Диагноз](
	[Код] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Диагноз] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пациент]    Script Date: 22.01.2024 20:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пациент](
	[НомерКарты] [int] NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[ДатаРождения] [nvarchar] NOT NULL,
	[Пол] [bit] NOT NULL,
	[Талон] [int] NOT NULL,
 CONSTRAINT [PK_Пациент] PRIMARY KEY CLUSTERED 
(
	[НомерКарты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Прием]    Script Date: 22.01.2024 20:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Прием](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[КодВрача] [int] NOT NULL,
	[КодПациента] [int] NOT NULL,
	[ДатаВизита] [nvarchar](9) NOT NULL,
	[КодСтоимости] [int] NOT NULL,
	[Цель] [nvarchar](50) NOT NULL,
	[КодДиагноза] [int] NULL,
 CONSTRAINT [PK_Прием] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Стоимость]    Script Date: 22.01.2024 20:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Стоимость](
	[Код] [int] NOT NULL,
	[Сумма] [money] NOT NULL,
 CONSTRAINT [PK_Стоимость] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Прием]  WITH CHECK ADD  CONSTRAINT [FK_Прием_Врачь] FOREIGN KEY([КодВрача])
REFERENCES [dbo].[Врачь] ([Код])
GO
ALTER TABLE [dbo].[Прием] CHECK CONSTRAINT [FK_Прием_Врачь]
GO
ALTER TABLE [dbo].[Прием]  WITH CHECK ADD  CONSTRAINT [FK_Прием_Диагноз] FOREIGN KEY([КодДиагноза])
REFERENCES [dbo].[Диагноз] ([Код])
GO
ALTER TABLE [dbo].[Прием] CHECK CONSTRAINT [FK_Прием_Диагноз]
GO
ALTER TABLE [dbo].[Прием]  WITH CHECK ADD  CONSTRAINT [FK_Прием_Пациент] FOREIGN KEY([КодПациента])
REFERENCES [dbo].[Пациент] ([НомерКарты])
GO
ALTER TABLE [dbo].[Прием] CHECK CONSTRAINT [FK_Прием_Пациент]
GO
ALTER TABLE [dbo].[Прием]  WITH CHECK ADD  CONSTRAINT [FK_Прием_Стоимость] FOREIGN KEY([КодСтоимости])
REFERENCES [dbo].[Стоимость] ([Код])
GO
ALTER TABLE [dbo].[Прием] CHECK CONSTRAINT [FK_Прием_Стоимость]
GO
USE [master]
GO
